<%= form_for(@ft_item) do |f| %>
  <% if @ft_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ft_item.errors.count, "error") %> prohibited this ft_item from being saved:</h2>

      <ul>
      <% @ft_item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :item_id %><br>
    <%= f.number_field :item_id %>
  </div>
  <div class="field">
    <%= f.label :top %><br>
    <%= f.text_field :top %>
  </div>
  <div class="field">
    <%= f.label :left %><br>
    <%= f.text_field :left %>
  </div>
  <div class="field">
    <%= f.label :ft_layout_id %><br>
    <%= f.text_field :ft_layout_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
