<p id="notice"><%= notice %></p>
<h1>確認</h1>
<p>
  <strong>物件名</strong>
  <%= @article.name %>
</p>

<p>
  <strong>住所</strong>
  <%= @article.address %>
</p>

<p>
  <strong>備考</strong>
  <%= @article.remark %>
</p>

<%= link_to '編集', edit_article_path(@article) %> |
<%= link_to '戻る', articles_path %>
