<%= form_for(@tarot) do |f| %>
  <% if @tarot.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tarot.errors.count, "error") %> prohibited this tarot from being saved:</h2>

      <ul>
      <% @tarot.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :content %><br>
    <%= f.text_field :content %>
  </div>
  
    <div class="field">
    <%= f.label :content2 %><br>
    <%= f.text_field :content2 %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
