<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @tarot.name %>
</p>

<p>
  <strong>Content:</strong>
  <%= @tarot.content %>
</p>

<p>
  <strong>Content2:</strong>
  <%= @tarot.content2 %>
</p>

<%= link_to 'Edit', edit_tarot_path(@tarot) %> |
<%= link_to 'Back', tarots_path %>
