<%= form_for(@furniture_item) do |f| %>
  <% if @furniture_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@furniture_item.errors.count, "error") %> prohibited this furniture_item from being saved:</h2>

      <ul>
      <% @furniture_item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="field">
    <%= f.label "width" %><br>
    <%= f.text_field :width %>
  </div>
  
  <div class="field">
    <%= f.label "height" %><br>
    <%= f.text_field :height %>
  </div>
  
  <div class="field">
    <%= f.label "icon" %><br>
    <%= f.file_field :icon %>
  </div>
  
  <div class="field">
    <%= f.label "image" %><br>
    <%= f.file_field :image %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
