<%= form_for(@furniture_item) do |f| %>
  <% if @furniture_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@furniture_item.errors.count, "error") %> prohibited this furniture_item from being saved:</h2>

      <ul>
      <% @furniture_item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="field">
    <%= f.label "家具id" %><br>
    <%= f.text_field :id %>
  </div>
  
  <div class="field">
    <%= f.label "横の長さ[m]" %><br>
    <%= f.text_field :width %>
  </div>
  
  <div class="field">
    <%= f.label "縦の長さ[m]	" %><br>
    <%= f.text_field :height %>
  </div>
  
  <div class="field">
    <%= f.label "真上からの写真
(オブジェクト生成用)" %><br>
    <%= f.file_field :icon %>
  </div>
  
  <div class="field">
    <%= f.label "全体の写真
(家具一覧に表示する画像用)" %><br>
    <%= f.file_field :image %>
  </div>

  <div class="actions">
    <%= f.submit "新規登録"%>
  </div>
<% end %>
