<p id="notice"><%= notice %></p>

<h1>家具管理画面</h1>

<table>
  <thead>
    <tr>
      <th>家具id</th>
      <th>横の長さ[m]</th>
      <th>縦の長さ[m]</th>
      <th>真上からの写真<br>(オブジェクト生成用)</th>
      <th>全体の写真<br>(家具一覧に表示する画像用)</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @furniture_items.each do |furniture_item| %>
      <tr>
        <td><%= furniture_item.id %></td>
        <td><%= furniture_item.width %></td>
        <td><%= furniture_item.height %></td>
        <td><%= image_tag(furniture_item.icon_url(:thumbnail2)) %></td>
        <td><%= image_tag(furniture_item.image_url(:thumbnail)) %></td>
        <td><%= link_to '確認する', furniture_item %></td>
        <td><%= link_to '編集する', edit_furniture_item_path(furniture_item) %></td>
        <td><%= link_to '削除する', furniture_item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '新規登録', new_furniture_item_path %>
