<p id="notice"><%= notice %></p>

<p>
  <strong>id</strong>
  <%= @furniture_item.id %>
</p>

<p>
  <strong>width</strong>
  <%= @furniture_item.width %>
</p>

<p>
  <strong>height</strong>
  <%= @furniture_item.height %>
</p>

<p>
  <b>URL</b>
  <%= image_tag(@furniture_item.icon_url(:thumbnail2)) %>
</p>

<p>
  <b>URL</b>
  <%= image_tag(@furniture_item.image_url(:thumbnail)) %>
</p>

<%= link_to 'Edit', edit_furniture_item_path(@furniture_item) %> |
<%= link_to 'Back', furniture_items_path %>
