<p id="notice"><%= notice %></p>

<h1>Listing Ft vvvsssssssssvvvvv Layouts</h1>

<table border="1">
  <thead>
    <tr>
      <th>Room</th>
      <th>created_at</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ft_layouts.each do |ft_layout| %>
      <tr>
        <td><%= ft_layout.room_id %></td>
        <td><%= ft_layout.created_at %></td>
        <td><%= link_to 'Show', ft_layout %></td>
        <td><%= link_to 'Edit', edit_ft_layout_path(ft_layout) %></td>
        <td><%= link_to 'Destroy', ft_layout, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ft layout', new_ft_layout_path %>
