<%= form_for(@uxser) do |f| %>
  <% if @uxser.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@uxser.errors.count, "error") %> prohibited this uxser from being saved:</h2>

      <ul>
      <% @uxser.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "画像名" %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label "部屋の全天球画像" %><br>
    <%= f.file_field :avatar %>
  </div>
  <div class="field">
    <%= f.label "部屋の全天球画像のURL" %><br>
    <%= f.text_field :avatar_cache %>
  </div>

  <div class="field">
    <%= f.label "撮影点のx座標" %><br>
    <%= f.text_field :zahyo_x %>
  </div>

  <div class="field">
    <%= f.label "撮影点のy座標" %><br>
    <%= f.text_field :zahyo_y %>
  </div>

  <div class="field">
    <%= f.label "撮影点のz座標" %><br>
    <%= f.text_field :zahyo_z %>
  </div>

  <div class="field">
    <%= f.label "offset" %><br>
    <%= f.text_field :offset %>
  </div>
  
  <div class="field">
    <a href="rooms">部屋管理画面へのリンク　部屋id確認用</a><br>
    <%= f.label "どの部屋の写真かをidで指定" %><br>
    <%= f.text_field :room_id %>
  </div>
  
  <div class="field">
    <%= f.label "部屋の縦の長さ[m]" %><br>
    <%= f.text_field :room_depth %>
  </div>

    <div class="field">
    <%= f.label "部屋の横の長さ[m]" %><br>
    <%= f.text_field :room_width %>
  </div>
  <div class="actions">
    <%= f.submit "保存する"%>
  </div>
<% end %>
