<%= form_for(@uxser) do |f| %>
  <% if @uxser.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@uxser.errors.count, "error") %> prohibited this uxser from being saved:</h2>

      <ul>
      <% @uxser.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "物件名" %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :avatar %><br>
    <%= f.file_field :avatar %>
  </div>
  <div class="field">
    <%= f.label :remove_avatar %><br>
    <%= f.check_box :remove_avatar %>
  </div>
  <div class="field">
    <%= f.label :avatar_cache %><br>
    <%= f.text_field :avatar_cache %>
  </div>
  
  <div class="field">
    <%= f.label :zahyo_x %><br>
    <%= f.text_field :zahyo_x %>
  </div>
  
  <div class="field">
    <%= f.label :zahyo_y %><br>
    <%= f.text_field :zahyo_y %>
  </div>
  
  <div class="field">
    <%= f.label :zahyo_z %><br>
    <%= f.text_field :zahyo_z %>
  </div>
  
  <div class="field">
    <%= f.label :offset %><br>
    <%= f.text_field :offset %>
  </div>
  
  <div class="field">
    <%= f.label "部屋奥行き" %><br>
    <%= f.text_field :room_depth %>
  </div>
  
    <div class="field">
    <%= f.label "部屋幅" %><br>
    <%= f.text_field :room_width %>
  </div>
  <div class="actions">
    <%= f.submit "文字文字文字"%>
  </div>
<% end %>
