<p id="notice"><%= notice %></p>


<h1>Listing Images Of The Room</h1>

<table BORDER="1" CELLSPACING="0" CELLPADDING="0">
  <thead>
    <tr>
      <th>Name</th>
      <th>URL</th>
      <th>Thumbnail</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @uxsers.each do |uxser| %>
      <tr>
        <td><%= uxser.name %></td>
        <td><%= uxser.avatar %></td>
        <td><%= image_tag(uxser.avatar_url(:thumbnail)) %></td>
        <td><%= link_to 'Show', uxser %></td>
        <td><%= link_to 'Edit', edit_uxser_path(uxser) %></td>
        <td><%= link_to 'Destroy', uxser, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Room', new_uxser_path %>
