<p id="notice"><%= notice %></p>


<h1>写真管理画面</h1>

<table BORDER="1" CELLSPACING="0" CELLPADDING="0">
  <thead>
    <tr>
      <th>物件名</th>
      <th>URL</th>
      <th>サムネイル</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @uxsers.each do |uxser| %>
      <tr>
        <td><%= uxser.name %></td>
        <td><%= uxser.avatar %></td>
        <td><%= image_tag(uxser.avatar_url(:thumbnail)) %></td>
        <td><%= link_to '表示', uxser %></td>
        <td><%= link_to '編集', edit_uxser_path(uxser) %></td>
        <td><%= link_to '削除', uxser, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '新規登録', new_uxser_path %>
