<p id="notice"><%= notice %></p>

<p>
  <strong>物件名</strong>
  <%= @uxser.name %>
</p>

<p>
  <strong>部屋奥行き</strong>
  <%= @uxser.room_depth %>
</p>

<p>
  <strong>部屋幅</strong>
  <%= @uxser.room_width %>
</p>

<p>
  <strong>画像</strong>
  <%= @uxser.avatar %>
</p>


<p>
  <b>URL</b>
  <%= image_tag(@uxser.avatar_url) %>
</p>

<%= link_to '編集', edit_uxser_path(@uxser) %> |
<%= link_to '一覧へ戻る', uxsers_path %>
