<p id="notice"><%= notice %></p>

<p>
  <strong>name</strong>
  <%= @uxser.name %>
</p>

<p>
  <strong>depth of the roon</strong>
  <%= @uxser.room_depth %>
</p>

<p>
  <strong>width of the room</strong>
  <%= @uxser.room_width %>
</p>

<p>
  <strong>image</strong>
  <%= @uxser.avatar %>
</p>


<p>
  <b>URL</b>
  <%= image_tag(@uxser.avatar_url) %>
</p>

<%= link_to 'edit', edit_uxser_path(@uxser) %> |
<%= link_to 'back', uxsers_path %>
