<p id="notice"><%= notice %></p>
<h1>確認</h1>
<p>
  <strong>部屋名</strong>
  <%= @uxser.name %>
</p>

<p>
  <strong>部屋の縦の長さ[m]</strong>
  <%= @uxser.room_depth %>
</p>

<p>
  <strong>部屋の横の長さ[m]</strong>
  <%= @uxser.room_width %>
</p>

<p>
  <strong>部屋の全天球写真のURL</strong>
  <%= @uxser.avatar %>
</p>


<p>
  <b>部屋の全天球写真</b>
  <%= image_tag(@uxser.avatar_url) %>
</p>

<%= link_to '編集', edit_uxser_path(@uxser) %> |
<%= link_to '戻る', uxsers_path %>
