<%= form_for(@room) do |f| %>
  <% if @room.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@room.errors.count, "error") %> prohibited this room from being saved:</h2>

      <ul>
      <% @room.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
    <div class="field">
    <%= f.label :間取り図id %><br>
    <%= f.text_field :id %>
  </div>
  
  <div class="field">
    <%= f.label "物件id" %><br>
    <%= f.text_field :article_id %>
  </div>

  <div class="field">
    <%= f.label "部屋の横の長さ[m]" %><br>
    <%= f.text_field :width %>
  </div>
  <div class="field">
    <%= f.label "部屋の縦の長さ[m]" %><br>
    <%= f.text_field :height %>
  </div>
  <div class="field">
    <%= f.label "間取り図の写真" %><br>
    <%= f.file_field :madori %>
  </div>
  <div class="actions">
    <%= f.submit "保存する"%>
  </div>
<% end %>
