<p id="notice"><%= notice %></p>
<h1>確認画面</h1>
<p>
  <strong>部屋の横の長さ[m]</strong>
  <%= @room.width %>
</p>

<p>
  <strong>部屋の縦の長さ[m]	</strong>
  <%= @room.height %>
</p>

<p>
  <strong>間取り図の画像URL</strong>
  <%= @room.madori %>
</p>

<p>
  <b>間取り図の写真</b>
  <%= image_tag(@room.madori_url) %>
</p>

<%= link_to '編集する', edit_room_path(@room) %> |
<%= link_to '戻る', rooms_path %>
