<p id="notice"><%= notice %></p>

<p>
  <strong>Width:</strong>
  <%= @room.width %>
</p>

<p>
  <strong>Height:</strong>
  <%= @room.height %>
</p>

<p>
  <strong>URL:</strong>
  <%= @room.madori %>
</p>

<p>
  <b>Image</b>
  <%= image_tag(@room.madori_url) %>
</p>

<%= link_to 'Edit', edit_room_path(@room) %> |
<%= link_to 'Back', rooms_path %>
