<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @uzser.name %>
</p>

<p>
  <strong>Name2:</strong>
  <%= @uzser.name2 %>
</p>

<p>
  <strong>Name3:</strong>
  <%= @uzser.name3 %>
</p>

<%= link_to 'Edit', edit_uzser_path(@uzser) %> |
<%= link_to 'Back', uzsers_path %>
